.navbar form input {
    display: none;
}

#home {
    padding-top: 200px;
    text-align: center;
    display: block;

    p {
	color: #ddd;
    }

    h1 {
	text-indent: -.12em;
	color: #ddd;
	font-size: 110px;
	font-weight: 900;
	display: inline-block;
	margin: 0 auto;
	line-height: 1;
	width: 100%;
	text-shadow: #555 .01em .01em 0,
	#555 .02em .02em 0,
	#555 .03em .03em 0,
	#555 .04em .04em 0,
	#555 .05em .05em 0,
	#555 .06em .06em 0;
    }
    form {
	margin-top: 30px;
	input {
	    width: 200px;
	    height: 20px;
	    padding: 4px 14px 4px 14px;
	    border: 1px solid #aaa;
	    border-radius: 14px;
	}
    }
    @media(max-width: 800px) {
	padding-top: 60px;
	h1 {
	    text-shadow: none;
	    font-size: 60px;
	    letter-spacing: 2px;
	}
	p {
	    display: none;
	}
	form {
	    input {
		width: 80%;
	    }
	}
    }
}
